<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PFC Manager</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datalist-polyfill/1.24.4/datalist-polyfill.min.js" integrity="sha512-njgkJe8kuqyz2AauUKsvQ3fhqbLsshNovMTWXLmy7x+lfrHdF8TxDlLQofXG9EBYirKYWmNJlGs0qA7340U6ug==" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app" class="container mt-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
            <a class="navbar-brand" href="#">PFC Manager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        aaa
                    </li>
                </ul>
            </div>
        </nav>
        <h4 class="mt-3">目標</h4>
        <div class="input-group">
            <span class="input-group-text">P</span>
            <input type="text" v-model="goal.P" class="form-control" placeholder="goal of P">
            <span class="input-group-text">F</span>
            <input type="text" v-model="goal.F" class="form-control" placeholder="goal of P">
            <span class="input-group-text">C</span>
            <input type="text" v-model="goal.C" class="form-control" placeholder="goal of P">
        </div>

        <h4 class="mt-3">残り</h4>
        <div class="input-group">
            <span class="input-group-text">P</span>
            <input type="text" class="form-control" :value="rest.P.toFixed(1)">
            <span class="input-group-text">F</span>
            <input type="text" class="form-control" :value="rest.F.toFixed(1)">
            <span class="input-group-text">C</span>
            <input type="text" class="form-control" :value="rest.C.toFixed(1)">
        </div>

        <h4 class="mt-3">記録</h4>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-4 align-middle text-center">名前</th>
                    <th class="col-1 align-middle text-center">倍率</th>
                    <th class="col-1 align-middle text-center">P</th>
                    <th class="col-1 align-middle text-center">F</th>
                    <th class="col-1 align-middle text-center">C</th>
                    <th class="col-1 align-middle text-center"><button class="btn btn-outline-secondary btn-sm" @click="clearRecord">clear all</button></th>
                </tr>
            </thead>
            <thead>
                <tr class="form-group">
                    <td>
                        <div class="input-group">
                            <input type="text" list="menu" v-model="selection" class="form-control"  @input="setPFC">
                            <button class="btn btn-outline-secondary" @click="resetSelection">clear</button>
                        </div>
                        
                        <datalist id="menu">
                            <option v-for="food in menu">
                                {{ food.name }}
                            </option>
                        </datalist>
                    </td>
                    <td>
                        <select v-model="r" @change="addRecord" class="form-control">
                            <option v-for="r in ratio" :value="r">×{{ r.toFixed(1) }}</option>
                        </select>
                    </td>
                    <td><input type="text" v-model="P" class="form-control"></td>
                    <td><input type="text" v-model="F" class="form-control"></td>
                    <td><input type="text" v-model="C" class="form-control"></td>
                    <td class="align-middle text-center"><button @click="addRecord" class="btn btn-outline-primary btn-sm">+</button></td>
                </tr>
            </thead>
            <tr v-for="(food, index) in reversedRecord">                
                <td class="align-middle">{{ food.name }}</td>
                <td class="align-middle">×{{ food.r.toFixed(1) }}</td>
                <td class="align-middle">{{ food.P.toFixed(1) }}</td>
                <td class="align-middle">{{ food.F.toFixed(1) }}</td>
                <td class="align-middle">{{ food.C.toFixed(1) }}</td>
                <td class="align-middle text-center"><button @click="removeRecord(index)" class="btn btn-outline-danger btn-sm">×</button></td>
            </tr>
        </table>

        <h4 class="mt-3">データ操作</h4>
        <button @click="store">保存</button>
        <button @click="load">ロード</button>
        <button @click="clear">クリア</button>
        <hr>
        <h4 class="mt-3">メニュー設定</h4>
        <table>
            <tr>
                <th>名前</th>
                <th>P</th>
                <th>F</th>
                <th>C</th>
                <th></th>
            </tr>
            <tr>
                <td><input type="text" v-model="menuSetting.name"></td>
                <td><input type="text" v-model="menuSetting.P"></td>
                <td><input type="text" v-model="menuSetting.F"></td>
                <td><input type="text" v-model="menuSetting.C"></td>
                <td><button @click="addMenu">追加</button></td>
            </tr>
            <tr v-for="(food, index) in reversedMenu">                
                <td>{{ food.name }}</td>
                <td>{{ food.P }}</td>
                <td>{{ food.F }}</td>
                <td>{{ food.C }}</td>
                <td><button @click="removeMenu(index)">×</button></td>
            </tr>
        </table>
        <pre>{{ debug }}</pre>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="app.js"></script>
</body>
</html>